.metadata/
Algomon/.classpath
Algomon/.project
Algomon/.settings
Algomon/bin
Algomon/libs
Algomon/build
/bin/
.recommenders/index/
.recommenders/caches/
.recommenders/caches/identified-project-coordinates.json